<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista telefônica</title>

    <!-- Importando o Bootstrap -->
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
   

    <!-- Importando o AngularJS -->
    <script src="./lib/angular/angular.min.js"></script>
    <script src="./lib/angular/angular-messages.js"></script>
    <script src="./lib/angular/angular-locale_pt-br.js"></script>
    <script src="./js/app.module.js"></script>
    <script src="../lista-telefonica/js/controller/ListaTelefonicaCtrl.js"></script> 
    <script src="../lista-telefonica/js/services/contatos-service.js"></script>   
    <script src="../lista-telefonica/js/services/operadoras-service.js"></script>
    <script src="../lista-telefonica/js/services/serial-generator.js"></script>
    <script src="../lista-telefonica/js/config/serial-generator-config.js"></script>
    <script src="../lista-telefonica/js/value/config.js"></script>
    <script src="./js/filters/name-filter.js"></script>
    <script src="./js/filters/ellipsis-filter.js"></script>
</head>

<body ng-controller="ListaTelefonicaCtrl">
    <div class="jumbotron bg-dark">
        <h3>{{ app }}</h3>           

        <input class="form-control" type="text" ng-model="criterioDeBusca"  placeholder="O que você está buscando?">

        <table class="table">

            <tr class="text-light">
                <th></th> 
                <th>Serial</th>    
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th>Data</th>
                <th></th>
            </tr>

            <tr class="text-danger" ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca">
                <td><input type="checkbox" ng-model="contato.selecionado"></td> 
                <td>{{ contato.serial }}</td>               
                <td>{{ contato.nome | name | ellipsis:10 }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.operadora.nome | lowercase }}</td>
                <td>{{ contato.data | date: 'dd/MM/yyyy' }}</td>

                <!-- <td> 
                    <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
                </td> -->

            </tr>

        </table>
        </hr>       

        <form name="contatoForm">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10">
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">

            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')' for operadora in operadoras | orderBy: 'nome'">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
            <div ng-message="required && contatoForm.nome.$dirty">Por favor, preencha o campo nome</div>
            <div ng-message="minlength">O campo nome deve ter no mínimo 10 caracteres</div>
        </div>

        <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
            <div ng-message="required && contatoForm.telefone.$dirty">Por favor, preencha o campo telefone</div>
            <div ng-message="pattern">O campo telefone deve ter o formato XXXXX-XXXX</div>
        </div>

        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
        
    </div>

    <!-- <div ng-include="'footer.html'"></div> -->
    
</body>

</html>