<!DOCTYPE html>
<html lang="pt-br" ng-app="listaTelefonica">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista telefônica</title>

    <!-- Importando o Bootstrap -->
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.css">

    <style>
        .jumbotron {
            width: 700px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #fff;
        }

        .table {
            margin-top: 20px;

        }

        .form-control {
            margin-bottom: 4px;
        }

        .selecionado {
            background-color: yellow;
            font-weight: bold;
        }
    </style>

    <!-- Importando o AngularJS -->
    <script src="./lib/angular/angular.min.js"></script>
    <script src="./lib/angular/angular-messages.js"></script>
    <script src="./lib/angular/angular-locale_pt-br.js"></script>

    <script>
        //módulo
        angular.module('listaTelefonica', ["ngMessages"])

        //controllers
        angular.module('listaTelefonica').controller('ListaTelefonicaCtrl', function ($scope, $filter, $http) {
            $scope.app = "Lista Telefônica"            
            $scope.contatos = []
            $scope.operadoras = []

            //exemplo de uma função GET array de contatos
            var carregarContatos = function () {
                $http.get("endpointdaapi").sucesss(function (data, status) {
                    $scope.contatos = data;
                }).error(function(data, status){
                    $scope.message = "Deu ruim " +  data
                })
            }

            //exemplo de uma função GET array de operadoras
            var carregarOperadoras = function (){
                $http.get("endpointdaapi").sucesss(function(data,status){
                    $scope.operadoras = data;

                })
            }

            //função que adiciona o contato no array contatos 
            $scope.adicionarContato = function (contato) {
                $http.post("endpointdaapi", contato).sucesss(function(data){
                    delete $scope.contato;
                    $scope.contatoForm.$setPristine();
                    carregarContatos();
                });                
            }
 
            //função que apaga contatos
            $scope.apagarContatos = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato;
                })
            }

            //função que desabilita o botão se não tem contatos selecionados
            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado
                })
            }

            //função que ordena por nome e telefone
            $scope.ordenarPor = function (campo) {
                $scope.criterioDeOrdenacao = campo;
                $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;

            }
        })

    </script>
</head>

<body ng-controller="ListaTelefonicaCtrl">
    <div class="jumbotron bg-dark">
        <h3>{{ app }}</h3>

        {{ message }}    

        <input class="form-control" type="text" ng-model="criterioDeBusca"  placeholder="O que você está buscando?">

        <table class="table">

            <tr class="text-light">
                <th></th>    
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th>Data</th>
                <th></th>
            </tr>

            <tr class="text-danger" ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca">
                <td><input type="checkbox" ng-model="contato.selecionado"></td>                
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.operadora.nome | lowercase }}</td>
                <td>{{ contato.data | date: 'dd/MM/yyyy' }}</td>

                <!-- <td> 
                    <div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div>
                </td> -->

            </tr>

        </table>
        </hr>       

        <form name="contatoForm">
            <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10">
            <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">

            <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')' for operadora in operadoras | orderBy: 'nome'">
                <option value="">Selecione uma operadora</option>
            </select>
        </form>

        <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
            <div ng-message="required && contatoForm.nome.$dirty">Por favor, preencha o campo nome</div>
            <div ng-message="minlength">O campo nome deve ter no mínimo 10 caracteres</div>
        </div>

        <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger">
            <div ng-message="required && contatoForm.telefone.$dirty">Por favor, preencha o campo telefone</div>
            <div ng-message="pattern">O campo telefone deve ter o formato XXXXX-XXXX</div>
        </div>

        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
        
    </div>

    <!-- <div ng-include="'footer.html'"></div> -->
    
</body>

</html>